@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/boutique-2.ttf') format('truetype');
}
@font-face {
  font-family: 'Runethia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/runethia-regular.otf') format('opentype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/boutique-4.ttf') format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/boutique-5.ttf') format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/boutique-6.ttf') format('truetype');
}
